@import "reset.css";


$bgColor: #000;
$bgIco: #A1C5E9;
$bgBtn: #4080BF;
$textColor: #fff;

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.8rem; /* 18px */
  font-family: 'Poppins', sans-serif;
  background-color: $bgColor;
  color: $textColor;
}

.link-btn {
  text-decoration: none;
  color: $textColor;
  padding: 1.3rem 2.7rem;
  background-color: $bgBtn;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

//todo сделать что либо при наведении на ссылки-кнопки


.wrapper {
  max-width: 111rem;
  margin: 0 auto;
}

//start header
.header {
  padding-top: 1.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__logo {
  }

  &__nav {

  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {

  }

  &__item a {
    text-decoration: none;
    color: $textColor;
  }

  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {

  }
}

//end header

//start section intro
.intro {
  margin-top: 6.2rem;

  &__content {
    width: 100%;
    //height: 600px;
    padding-top: 20.7rem;
    padding-left: 36.3rem;
    display: flex;
    flex-direction: column;
    background: url("/image/bg-intro.jpg") no-repeat center/cover;
    align-items: start;
    border-radius: 20px;

  }

  &__title {
    font-weight: 800;
    font-size: 6.1rem;
    line-height: 9.2rem;
  }

  &__subtitle {
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
  }

  &__link {
    margin-top: 3rem;
    margin-bottom: 9rem;
  }

}

//end section intro

//start section about
.about {


  &__content {
    margin: 15rem 0;
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 7rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 4.1rem;
  }

  &__card {
    grid-column: span 2;
    display: flex;

    &-logo {
      margin-right: 4.2rem;
      padding-top: 1rem;
    }

    &-info {
    }

    &-title {
      font-weight: 600;
      font-size: 2.8rem;
      line-height: 4.2rem;
      text-transform: capitalize;
    }

    &-text {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 3.0rem;
      text-transform: capitalize;
    }
  }
}

//end section about


//start section help
.help {
  margin-bottom: 15rem;

  &__content {
  }

  &__title {
    font-weight: 800;
    font-size: 5.0rem;
    line-height: 8.3rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5rem;
  }

  &__cards {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem 3rem;
  }

  &__card {
    grid-column: span 2;
    padding: 0 0 0 2.2rem;

    &-logo {
      margin-top: 2.5rem;

      & img {
        width: auto;
        height: 3.3rem;
      }
    }

    &-title {
      margin-top: 5.5rem;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-transform: capitalize;
    }

    &-text {
      margin-top: 1rem;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      font-feature-settings: 'salt' on, 'liga' off;
    }

    &-link {
      //todo сделать движение стрелок
      display: inline-block;
      margin-top: 5rem;
      text-decoration: none;
      color: $bgIco;
      padding-right: 2.8rem;
      background: url("/image/svg/help_arrow-right.svg") no-repeat right center;
    }
  }
}
//end section help


