@import "reset.css";


$bgColor: #000;
$bgIco: #A1C5E9;
$bgBtn: #4080BF;
$textColor: #fff;

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.8rem; /* 18px */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: $bgColor;
  color: $textColor;
}

.link-btn {
  text-decoration: none;
  color: $textColor;
  padding: 1.3rem 2.7rem;
  background-color: $bgBtn;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.header a:hover,
.header a:active,
.header a:visited {
  opacity: 0.8;
}

.link-btn:hover,
.link-btn:active {
  //background-color: #407AC4;
  background-color: #4073BF;
}

.link-arrow-right {
  display: inline-block;
  text-decoration: none;
  color: $bgIco;
  padding-right: 2.8rem;
  background: url("/image/svg/help_arrow-right.svg") no-repeat right center;
}

.wrapper {
  max-width: 111rem;
  margin: 0 auto;
}

//start header
.header {
  padding-top: 1.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__logo {
  }

  &__nav {

  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {

  }

  &__item a {
    text-decoration: none;
    color: $textColor;
  }

  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {

  }
}

//end header

//start section intro
.intro {
  margin-top: 6.2rem;

  &__content {
    width: 100%;
    //height: 600px;
    padding-top: 20.7rem;
    padding-left: 36.3rem;
    display: flex;
    flex-direction: column;
    background: url("/image/bg-intro.jpg") no-repeat center/cover;
    align-items: start;
    border-radius: 20px;

  }

  &__title {
    font-weight: 800;
    font-size: 6.1rem;
    line-height: 9.2rem;
  }

  &__subtitle {
    margin-top: 1rem;
    font-size: 20px;
    line-height: 38px;
  }

  &__link {
    margin-top: 3rem;
    margin-bottom: 9rem;
  }

}

//end section intro

//start section about
.about {


  &__content {
    margin: 15rem 0;
  }

  &__title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 4.1rem;
  }

  &__card {
    grid-column: span 2;
    display: flex;

    &-logo {
      margin-right: 4.2rem;
      padding-top: 1rem;
    }

    &-info {
    }

    &-title {
      font-weight: 600;
      font-size: 2.8rem;
      line-height: 4.2rem;
      text-transform: capitalize;
    }

    &-text {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 3.0rem;
      text-transform: capitalize;
    }
  }
}

//end section about


//start section help
.help {
  margin-bottom: 15rem;

  &__content {
  }

  &__title {
    font-weight: 800;
    font-size: 5.0rem;
    line-height: 8.3rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5rem;
  }

  &__cards {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem 3rem;
  }

  &__card {
    grid-column: span 2;
    padding: 0 0 0 2.2rem;

    &-logo {
      margin-top: 2.5rem;

      & img {
        width: auto;
        height: 3.3rem;
      }
    }

    &-title {
      margin-top: 5.5rem;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-transform: capitalize;
    }

    &-text {
      margin-top: 1rem;
      font-size: 1.6rem;
      line-height: 2.8rem;
      font-feature-settings: 'salt' on, 'liga' off;
    }

    &-link {
      display: inline-block;
      margin-top: 5rem;
      text-decoration: none;
      color: $bgIco;
      padding-right: 3.8rem;
      background: url("/image/svg/help_arrow-right.svg") no-repeat  95% center;
      transition: all .2s;
    }

    &-link:hover,
    &-link:active,
    &-link:visited {
      opacity: 0.75;
      background: url("/image/svg/help_arrow-right.svg") no-repeat 100%  center;

    }
  }
}


//end section help

//start section project
.project {
  margin-bottom: 15rem;

  .project__content {
  }

  .project__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .project__title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7rem;
  }

  .project__link {

  }

  .project__cards {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem 3rem;
  }

  .project__card {
    grid-column: span 2;
  }
}

//end section project

//start section founder
.founder {
  &__content {
  }

  &__title {
    font-weight: 800;
    font-size: 5rem;
    line-height: 7.5rem;
    text-align: center;
  }

  &__cards {
    margin-top: 5rem;
    display: flex;
  }

  &__cards-block-left {
    margin-right: 2.8rem;
  }

  &__cards-block-left .founder__info {
    margin-right: 1rem;
  }

  &__cards-block-right .founder__info {
    margin-left: 1rem;
  }

  .card-left-top {
    margin-bottom: 2.5rem;
  }

  &__card {
    display: flex;

    &.card-left-top .founder__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right
    }

    &.card-left-bottom .founder__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      text-align: right;
      padding-top: 9rem;
    }

    &.card-right-top .founder__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      text-align: left;
    }

    &.card-right-bottom .founder__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      padding-top: 1.8rem;
    }

  }

  &__card,
  &__info {

  }

  &__card-name {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  &__card-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  &__card-img {
  }

  &__cards-block-right {
    margin-top: 6.8rem;
    margin-bottom: 20rem;
  }

  .card-right-top {
    margin-bottom: 4rem;
  }

}

//end section founder


//start section customer
.customer {
  &__content {
    margin-bottom: 20rem;
    display: flex;
  }

  &__info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 5.3rem;
  }

  &__title {
    font-weight: 800;
    font-size: 5.0rem;
    line-height: 8.3rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    line-height: 3.5rem;
    font-feature-settings: 'salt' on, 'liga' off;
    margin-top: 1rem;
  }

  &__slider {
    max-width: 50%;
    height: 100%;
    background: #1E2028;
    border-radius: 10px;
  }

  &__slide {
    background: url("/image/svg/customer-slider-coma.svg") no-repeat right 44px top 34px;
    padding-left: 2.6rem;
    padding-right: 4.4rem;
  }

  &__slid-name-parent {
    margin-top: 12.6rem;

  }

  &__slid-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__slid-image {
    margin-top: 12.6rem;
    margin-right: 2rem;
  }

  &__slid-pic {
  }

  &__slid-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  &__slid-desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  &__slid-text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.1rem;
    font-feature-settings: 'salt' on, 'liga' off;
    margin-top: 2rem;
    margin-bottom: 11.6rem;
  }
}

.wrapper-slider {

}

.slick-dots {
  background: #1E2028;
  bottom: 5.6rem;


}

.slick-dots li button:before {
  font-size: 1rem;
  color: #8E8F93;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

//end section customer


//start section business
.business {
  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
  }

  &__link {
    margin-top: 3.6rem;
  }

  &__result {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    min-width: 23.7rem;
    border-left: 2px solid $textColor;
    border-right: 2px solid $textColor;
  }

  &__item:not(:last-child) {
    margin-right: 3rem;
  }

  &__item-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
  }

  &__item-desc {
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-btn {
}

//start section business

//start footer
.footer {
  &__content {
    margin: 9.8rem 0 3.2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__saka {
    max-width: 33%;
    display: flex;
    flex-direction: column;

  }

  &__saka-title {
    display: block;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 1rem;
  }

  &__saka-desc {
    display: block;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 2rem;
  }

  &__saka-icons {
  }

  &__saka-icon {
    margin-top: 2.7rem;
  }

  &__nav {
    max-width: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: inherit;
  }

  &__company {
  }

  &__company-list {
  }

  &__company-item {
  }

  &__company-link {
    text-decoration: none;
  }

  &__support {
  }

  &__support-list {
  }

  &__support-item {
  }

  &__support-link {
    text-decoration: none;
  }

  &__touch {
    max-width: 33%;
  }

  &__touch-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $textColor;
  }
}

.link-title {
}

.footer__company-link,
.footer__support-link,
.footer__saka-icon-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $textColor;
}

.footer__company-item:first-child,
.footer__support-item:first-child {
  margin-bottom: 2rem;
}

.link-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $textColor;
}

.footer__input {
  margin-top: 1.8rem;
  background:  url("/image/svg/footer-input-send.svg") no-repeat right 1.2rem center #41434A;
  border-radius: 8px;
  color: #8E8F93;
  height: 4rem;
  border: none;
}

.footer__input::placeholder {
  color: #8E8F93;
  padding: 1.2rem 0 1.2rem 1.2rem;
}

.footer a:hover,
.footer a:active,
.footer a:visited {
  opacity: 0.7;
}

//end footer


