@import "reset.css";
html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 1.8rem;
  /* 18px */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #000;
  color: #fff;
}

.link-btn {
  text-decoration: none;
  color: #fff;
  padding: 1.3rem 2.7rem;
  background-color: #4080BF;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.header a:hover,
.header a:active,
.header a:visited {
  opacity: 0.8;
}

.link-btn:hover,
.link-btn:active {
  background-color: #4073BF;
}

.link-arrow-right {
  display: inline-block;
  text-decoration: none;
  color: #A1C5E9;
  padding-right: 2.8rem;
  background: url("/image/svg/help_arrow-right.svg") no-repeat right center;
}

.wrapper {
  max-width: 111rem;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  padding: 1.9rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  top: 0;
  background: #000;
  z-index: 2;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item a {
  text-decoration: none;
  color: #fff;
}
.header__item:not(:last-child) {
  margin-right: 4rem;
}
.header__burger {
  display: none;
  padding-bottom: 1.9rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  width: 4rem;
  height: 2.8rem;
}
.header__burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
}
.header__burger-line-first {
  top: 0;
}
.header__burger-line-second {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger-line-third {
  bottom: 0;
}

.intro {
  margin-top: 6.2rem;
}
.intro__content {
  width: 100%;
  padding-top: 20.7rem;
  padding-left: 31.3rem;
  display: flex;
  flex-direction: column;
  background: url("/image/bg-intro.jpg") no-repeat center/cover;
  align-items: start;
  border-radius: 20px;
}
.intro__title {
  font-weight: 800;
  font-size: 6.1rem;
  line-height: 9.2rem;
}
.intro__subtitle {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 38px;
}
.intro__link {
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.about__content {
  margin: 15rem 0;
}
.about__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 7rem;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 4.1rem;
}
.about__card {
  grid-column: span 2;
  display: flex;
}
.about__card-logo {
  margin-right: 4.2rem;
  padding-top: 1rem;
}
.about__card-title {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  text-transform: capitalize;
}
.about__card-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: capitalize;
}

.help {
  margin-bottom: 15rem;
}
.help__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 8.3rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5rem;
}
.help__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem 3rem;
}
.help__card {
  grid-column: span 2;
  padding: 0 0 0 2.2rem;
}
.help__card-logo {
  margin-top: 2.5rem;
}
.help__card-logo img {
  width: auto;
  height: 3.3rem;
}
.help__card-title {
  margin-top: 5.5rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-transform: capitalize;
}
.help__card-text {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-feature-settings: "salt" on, "liga" off;
}
.help__card-link {
  display: inline-block;
  margin-top: 5rem;
  text-decoration: none;
  color: #A1C5E9;
  padding-right: 3.8rem;
  background: url("/image/svg/help_arrow-right.svg") no-repeat 95% center;
  transition: all 0.2s;
}
.help__card-link:hover, .help__card-link:active, .help__card-link:visited {
  opacity: 0.75;
  background: url("/image/svg/help_arrow-right.svg") no-repeat 100% center;
}

.project {
  margin-bottom: 15rem;
}
.project__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.project__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 7rem;
}
.project__link {
  padding-bottom: 1.2rem;
}
.project__cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 3rem;
}
.project__card {
  grid-column: span 2;
}
.project__card img {
  width: 100%;
}

.founder__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 7.5rem;
  text-align: center;
}
.founder__cards {
  margin-top: 5rem;
  display: flex;
}
.founder__cards-block-left {
  margin-right: 2.8rem;
}
.founder__cards-block-left .founder__info {
  margin-right: 1rem;
}
.founder__cards-block-right .founder__info {
  margin-left: 1rem;
}
.founder .card-left-top {
  margin-bottom: 2.5rem;
}
.founder__card {
  display: flex;
}
.founder__card.card-left-top .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.founder__card.card-left-bottom .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  padding-top: 9rem;
}
.founder__card.card-right-top .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}
.founder__card.card-right-bottom .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-top: 1.8rem;
}
.founder__card-name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.founder__card-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.founder__cards-block-right {
  margin-top: 6.8rem;
  margin-bottom: 20rem;
}
.founder .card-right-top {
  margin-bottom: 4rem;
}

.customer__content {
  margin-bottom: 20rem;
  display: flex;
}
.customer__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 5.3rem;
}
.customer__title {
  width: 37rem;
  font-weight: 800;
  font-size: 5rem;
  line-height: 8.3rem;
}
.customer__subtitle {
  font-size: 1.8rem;
  line-height: 3.5rem;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 1rem;
}
.customer__slider {
  width: 50%;
  height: 100%;
  background: #1E2028;
  border-radius: 10px;
}
.customer__slide {
  background: url("/image/svg/customer-slider-coma.svg") no-repeat right 44px top 34px;
  padding-left: 2.6rem;
  padding-right: 4.4rem;
}
.customer__slid-name-parent {
  margin-top: 12.6rem;
}
.customer__slid-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer__slid-image {
  margin-top: 12.6rem;
  margin-right: 2rem;
}
.customer__slid-name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.customer__slid-desc {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.customer__slid-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 2rem;
  margin-bottom: 11.6rem;
}

.slick-dots {
  background: #1E2028;
  bottom: 5.6rem;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: #8E8F93;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

.business__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
}
.business__link {
  margin-top: 3.6rem;
}
.business__result {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.business__item {
  min-width: 23.7rem;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.business__item-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer__content {
  display: flex;
  margin: 5rem auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}
@media screen and (max-width: 609px) {
  .footer__content {
    justify-content: revert;
  }
}
.footer__saka-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
}
.footer__saka-desc {
  font-size: 14px;
  line-height: 26px;
  margin-top: 1rem;
}
.footer__saka-icons {
  margin-top: 2.7rem;
}
.footer__saka-icons a {
  color: transparent;
}
.footer__company-item a {
  text-decoration: none;
}
.footer__company-link, .footer__support-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.footer__company-item:not(:first-child), .footer__support-item:not(:first-child) {
  margin-top: 1rem;
}
.footer__support-item a {
  text-decoration: none;
}
.footer__touch-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.footer__input {
  margin-top: 1.8rem;
  width: 25.5rem;
  padding: 1rem 0 1rem 1.2rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #41434A url("/image/svg/footer-input-send.svg") no-repeat top 1rem right 1.3rem;
}
.footer__input::placeholder {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #D9DBE1;
}
.footer__input:focus {
  outline: none;
}

.link-title {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 2rem;
}

.footer__saka-icon-link:hover,
.footer__saka-icon-link:active,
.footer__saka-icon-link:visited,
a.footer__company-link:hover,
a.footer__company-link:active,
a.footer__company-link:visited,
a.footer__support-link:hover,
a.footer__support-link:active,
a.footer__support-link:visited {
  opacity: 0.7;
}

@media screen and (max-width: 1150px) {
  .project__info {
    justify-content: space-around !important;
    flex-wrap: wrap;
  }
  .project__title {
    font-size: 4rem;
    line-height: 6rem;
  }
  .project__link {
    padding-left: 2.5rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 598px) {
  .project__link {
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .project__cards {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1150px) {
  .project__card img {
    width: 100%;
  }
}
@media screen and (max-width: 1070px) {
  .header {
    padding: 3.9rem 0 3.9rem 2.5rem;
    z-index: 9;
    justify-content: flex-start;
  }
  .header__link {
    display: none;
  }
  .header__nav {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    padding: 13.5rem;
    z-index: 10;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
  }
  .header__nav-active {
    transform: translateX(0%);
  }
  .header__nav-close {
    width: 4rem;
    height: 2.8rem;
    position: absolute;
    top: 7rem;
    right: 7rem;
    z-index: 10;
    cursor: pointer;
  }
  .header__nav-line {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header__nav-line:first-child {
    transform: translateY(1px) rotate(45deg);
  }
  .header__nav-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__list {
    flex-direction: column;
    font-size: 4.2rem;
    line-height: 4.8rem;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .header__item {
    margin-right: 0;
  }
  .header__burger {
    display: block;
    cursor: pointer;
  }

  .customer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .customer__info {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-right: 0;
  }
  .customer__title {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    line-height: 6rem;
  }
  .customer__slider {
    width: 100%;
  }

  .business__title {
    font-size: 4.2rem;
    line-height: 4.8rem;
  }
}
@media screen and (max-width: 985px) {
  .help__title {
    font-size: 4rem;
    line-height: 6.3rem;
  }
  .help__cards {
    grid-gap: 3rem 1rem;
  }
  .help__card {
    grid-column: span 3;
  }

  .founder__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .founder__cards-block-left {
    margin-right: 0;
  }

  .founder__card.card-right-top .founder__info {
    margin-top: 1.5rem;
  }

  .card-left-top, .card-left-bottom {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 940px) {
  .intro {
    margin-top: 3.2rem;
  }
  .intro__content {
    padding: 11rem;
    align-items: center;
  }

  .about__title {
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
  }

  .founder__title {
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media screen and (max-width: 850px) {
  .about__content {
    margin: 10rem 0;
  }
  .about__card {
    grid-column: span 4;
  }

  .help {
    margin-bottom: 10rem;
  }

  .project {
    margin-bottom: 10rem;
  }
  .project__title {
    font-size: 3rem;
    line-height: 5rem;
  }

  .founder__cards-block-right {
    margin-top: 1.8rem;
    margin-bottom: 10rem;
  }

  .customer__content {
    margin-bottom: 10rem;
  }
  .customer__title {
    font-size: 3rem;
    line-height: 5rem;
  }
  .customer__subtitle {
    font-size: 1.5rem;
    line-height: 3.3rem;
  }

  .business__title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .business__item {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 1rem;
  }
}
@media screen and (max-width: 820px) {
  .business__result {
    justify-content: center;
  }
}
@media screen and (max-width: 620px) {
  .header__nav {
    padding: 8.5rem;
  }
  .header__list {
    font-size: 4rem;
    line-height: 4.2rem;
  }

  .intro {
    margin-top: 2.2rem;
  }
  .intro__content {
    padding: 6rem;
  }
  .intro__title {
    font-size: 4.1rem;
    line-height: 6.2rem;
  }
  .intro__subtitle {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }
  .intro__link {
    margin-bottom: 0;
  }

  .about__title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .about__card-title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .about__card-text {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .help__title {
    font-size: 3rem;
    line-height: 5.3rem;
  }
  .help__card {
    grid-column: span 6;
  }
  .help__card-title {
    margin-top: 2.5rem;
  }
  .help__card-link {
    margin-top: 2rem;
  }

  .founder__title {
    font-size: 3rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 560px) {
  .founder__card {
    flex-wrap: wrap;
  }

  .founder__cards-block-left .founder__info {
    margin-bottom: 1.5rem;
  }

  .founder__card.card-left-bottom .founder__info {
    padding-top: 0;
  }
}
@media screen and (max-width: 460px) {
  .header__logo a img {
    width: 142px;
  }
  .header__burger {
    right: 2rem;
  }

  .intro__content {
    padding: 4rem;
  }
  .intro__title {
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .intro__subtitle {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .about__title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .about__card-logo {
    margin-right: 3rem;
  }
  .about__card-title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .about__card-text {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }

  .help__title {
    font-size: 2rem;
    line-height: 4.3rem;
  }
  .help__card-title {
    font-size: 2rem;
    line-height: 3rem;
  }

  .business__title {
    font-size: 3rem;
    line-height: 4.2rem;
  }
}
@media screen and (max-width: 410px) {
  .header__nav {
    padding: 4.5rem;
  }
  .header__list {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
