@import "reset.css";
html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 1.8rem;
  /* 18px */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #000;
  color: #fff;
}

.link-btn {
  text-decoration: none;
  color: #fff;
  padding: 1.3rem 2.7rem;
  background-color: #4080BF;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.header a:hover,
.header a:active,
.header a:visited {
  opacity: 0.8;
}

.link-btn:hover,
.link-btn:active {
  background-color: #4073BF;
}

.link-arrow-right {
  display: inline-block;
  text-decoration: none;
  color: #A1C5E9;
  padding-right: 2.8rem;
  background: url("/image/svg/help_arrow-right.svg") no-repeat right center;
}

.wrapper {
  max-width: 111rem;
  margin: 0 auto;
}

.header {
  padding-top: 1.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item a {
  text-decoration: none;
  color: #fff;
}
.header__item:not(:last-child) {
  margin-right: 4rem;
}
.intro {
  margin-top: 6.2rem;
}
.intro__content {
  width: 100%;
  padding-top: 20.7rem;
  padding-left: 36.3rem;
  display: flex;
  flex-direction: column;
  background: url("/image/bg-intro.jpg") no-repeat center/cover;
  align-items: start;
  border-radius: 20px;
}
.intro__title {
  font-weight: 800;
  font-size: 6.1rem;
  line-height: 9.2rem;
}
.intro__subtitle {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 38px;
}
.intro__link {
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.about__content {
  margin: 15rem 0;
}
.about__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 7rem;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 4.1rem;
}
.about__card {
  grid-column: span 2;
  display: flex;
}
.about__card-logo {
  margin-right: 4.2rem;
  padding-top: 1rem;
}
.about__card-title {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  text-transform: capitalize;
}
.about__card-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: capitalize;
}

.help {
  margin-bottom: 15rem;
}
.help__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 8.3rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5rem;
}
.help__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem 3rem;
}
.help__card {
  grid-column: span 2;
  padding: 0 0 0 2.2rem;
}
.help__card-logo {
  margin-top: 2.5rem;
}
.help__card-logo img {
  width: auto;
  height: 3.3rem;
}
.help__card-title {
  margin-top: 5.5rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-transform: capitalize;
}
.help__card-text {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-feature-settings: "salt" on, "liga" off;
}
.help__card-link {
  display: inline-block;
  margin-top: 5rem;
  text-decoration: none;
  color: #A1C5E9;
  padding-right: 3.8rem;
  background: url("/image/svg/help_arrow-right.svg") no-repeat 95% center;
  transition: all 0.2s;
}
.help__card-link:hover, .help__card-link:active, .help__card-link:visited {
  opacity: 0.75;
  background: url("/image/svg/help_arrow-right.svg") no-repeat 100% center;
}

.project {
  margin-bottom: 15rem;
}
.project .project__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.project .project__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 7rem;
}
.project .project__cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 3rem;
}
.project .project__card {
  grid-column: span 2;
}

.founder__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 7.5rem;
  text-align: center;
}
.founder__cards {
  margin-top: 5rem;
  display: flex;
}
.founder__cards-block-left {
  margin-right: 2.8rem;
}
.founder__cards-block-left .founder__info {
  margin-right: 1rem;
}
.founder__cards-block-right .founder__info {
  margin-left: 1rem;
}
.founder .card-left-top {
  margin-bottom: 2.5rem;
}
.founder__card {
  display: flex;
}
.founder__card.card-left-top .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.founder__card.card-left-bottom .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  padding-top: 9rem;
}
.founder__card.card-right-top .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}
.founder__card.card-right-bottom .founder__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-top: 1.8rem;
}
.founder__card-name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.founder__card-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.founder__cards-block-right {
  margin-top: 6.8rem;
  margin-bottom: 20rem;
}
.founder .card-right-top {
  margin-bottom: 4rem;
}

.customer__content {
  margin-bottom: 20rem;
  display: flex;
}
.customer__info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 5.3rem;
}
.customer__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 8.3rem;
}
.customer__subtitle {
  font-size: 1.8rem;
  line-height: 3.5rem;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 1rem;
}
.customer__slider {
  max-width: 50%;
  height: 100%;
  background: #1E2028;
  border-radius: 10px;
}
.customer__slide {
  background: url("/image/svg/customer-slider-coma.svg") no-repeat right 44px top 34px;
  padding-left: 2.6rem;
  padding-right: 4.4rem;
}
.customer__slid-name-parent {
  margin-top: 12.6rem;
}
.customer__slid-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer__slid-image {
  margin-top: 12.6rem;
  margin-right: 2rem;
}
.customer__slid-name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.customer__slid-desc {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.customer__slid-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-feature-settings: "salt" on, "liga" off;
  margin-top: 2rem;
  margin-bottom: 11.6rem;
}

.slick-dots {
  background: #1E2028;
  bottom: 5.6rem;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: #8E8F93;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

.business__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
}
.business__link {
  margin-top: 3.6rem;
}
.business__result {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
}
.business__item {
  min-width: 23.7rem;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.business__item:not(:last-child) {
  margin-right: 3rem;
}
.business__item-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer__content {
  margin: 9.8rem 0 3.2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__saka {
  max-width: 33%;
  display: flex;
  flex-direction: column;
}
.footer__saka-title {
  display: block;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
}
.footer__saka-desc {
  display: block;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 2rem;
}
.footer__saka-icon {
  margin-top: 2.7rem;
}
.footer__nav {
  max-width: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: inherit;
}
.footer__company-link {
  text-decoration: none;
}
.footer__support-link {
  text-decoration: none;
}
.footer__touch {
  max-width: 33%;
}
.footer__touch-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.footer__company-link,
.footer__support-link,
.footer__saka-icon-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.footer__company-item:first-child,
.footer__support-item:first-child {
  margin-bottom: 2rem;
}

.link-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.footer__input {
  margin-top: 1.8rem;
  background: url("/image/svg/footer-input-send.svg") no-repeat right 1.2rem center #41434A;
  border-radius: 8px;
  color: #8E8F93;
  height: 4rem;
  border: none;
}

.footer__input::placeholder {
  color: #8E8F93;
  padding: 1.2rem 0 1.2rem 1.2rem;
}

.footer a:hover,
.footer a:active,
.footer a:visited {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
